#header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0 100px;
    position: sticky;
    z-index: 10;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

#initial img {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #E20E00;
}

#menu, #menu-close {
   display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        padding: 0 20px;
    }

    nav { 
        display: none;
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
        background-color: #eee;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu {
        display: block;
        font-size: 30px;
    }

    #menu-close {
        font-size: 30px;
        position: absolute;
        display: none;
        z-index: 12;
        top: 20px;
        right: 20px;
    }
}