div#logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

div#social {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 100px;
}

div#social-img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

div#social-img img {
    width: 30px;
    height: 30px;
}

address {
    margin-top: 20px;
}